// 颜色
$accentColor = #F7F44F
$bgColor = #141414
$textColor = #DCDCDC
$borderColor = #303030
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$nprogressColor = #F7F44F
$tableBorderColor = #303030

.navbar {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.65);
  border-bottom: 1px solid #141414;
}
.home .hero .action-button {
  color: #000;
}
div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"] {
  background-color: #292C34;
}
.icon.outbound {
  display: none;
}
  
table {
  border-color: #000
}  