@import 'var';

@keyframes slide-up {
  0% {opacity: 0; transform: translateY(100%);}
  100% {opacity: 1; transform: translateY(0%);}
}

@keyframes slide-down {
  0% {opacity: 0; transform: translateY(-100%);}
  100% {opacity: 1; transform: translateY(0%);}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes boxFlicker {

  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

    //text-shadow:
    //        -0.2rem -0.2rem 1rem #fff,
    //        0.2rem 0.2rem 1rem #fff,
    //        0 0 2rem var(--neon-text-color),
    //        0 0 4rem var(--neon-text-color),
    //        0 0 6rem var(--neon-text-color),
    //        0 0 8rem var(--neon-text-color),
    //        0 0 10rem var(--neon-text-color);

    box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 .1rem $secondary-color,
            inset 0 0 .1rem $secondary-color,
            0 0 .1rem $secondary-color,
            inset 0 0 .1rem $secondary-color;
  }

  20%, 24%, 55% {
    //text-shadow: none;
    box-shadow: none;
  }
}