/* Global Color */
$primary-color: #FCF702;
$secondary-color: #40D4FA;
$purple-color: #FD4DEE;
$orange-color: #FD974F;
$pink-color: #F9B6F9;
$red-color: #EC3957;
$white-color: #FCF7FD;
$black-color: #000;

/* Global style */
$base-font-size: 14px;


/* Button style */
$button-padding: 0.4em 1em;
$button-text-space: 0.1em;
$button-font-weight: 500;